swagger: "2.0"
info:
  description: "API for hospitality partner services."
  version: "v2"
  title: "Hospitality Partner API"
host: "api.hospitality.com"
basePath: "/hospitality-partner/v2"
schemes:
  - https
paths:
  /dcshop/props/{propCode}:
    post:
      summary: "Shop Availability at a Single Property"
      description: >
        This request message provides functionality for direct connect partners including GDS & ADS systems
        to allow shopping for room availability at a single property. The query will retrieve available rooms
        that will accommodate the requirements specified in the shop request, such as the number of guests, arrival
        and departure dates, smoking or non-smoking preferences, and other criteria, along with rate plans for the
        available rooms. When singleProduct is present in the DCShop request, one and only one of the following
        is required and allowed: Both ratePlanCode and roomTypeCode or bookingCode.
      operationId: "DcShopSingleProp"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: propCode
          in: path
          description: "This is the property code for which to find room availability for a given date range."
          required: true
          type: string
        - name: singlePropDcShop
          in: body
          description: "Request body containing the single property shop details."
          required: true
          schema:
            $ref: "#/definitions/SinglePropDcShop-DcShop-1.0.30"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/PropDcShop-DcShop-1.0.30"
        400:
          $ref: "#/responses/400-BadRequest-DcShop-1.0.30"
        403:
          description: "Forbidden"
        404:
          description: "Record not found"

  /dcres:
    post:
      summary: "Create a Reservation"
      description: "Create a new reservation at a selected property."
      operationId: "CreateDcReservation"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: Hilton-Inventory-Hold
          in: header
          description: "Indicates desire to hold booking inventory in an unconfirmed state."
          required: false
          type: boolean
        - name: reservation
          in: body
          description: "Request body containing the reservation details."
          required: true
          schema:
            $ref: "#/definitions/DcReservation-DcRes-1.0.33"
      responses:
        200:
          description: "Success"
          schema:
            type: array
            items:
              $ref: "#/definitions/DcReservationStay-DcRes-1.0.33"
        400:
          $ref: "#/responses/400-BadRequest-DcRes-1.0.33"
        403:
          description: "Forbidden"

definitions:
  SinglePropDcShop-DcShop-1.0.30:
    type: object
    properties:
      ratePlanCode:
        type: string
      roomTypeCode:
        type: string
      bookingCode:
        type: string

  PropDcShop-DcShop-1.0.30:
    type: object
    properties:
      roomType:
        type: string
      ratePlan:
        type: string

  DcReservation-DcRes-1.0.33:
    type: object
    properties:
      confNumber:
        type: string
      ratePlan:
        type: string

  DcReservationStay-DcRes-1.0.33:
    type: object
    properties:
      roomType:
        type: string
      ratePlan:
        type: string

responses:
  400-BadRequest-DcShop-1.0.30:
    description: "Bad Request"
    schema:
      $ref: "#/definitions/ErrorDetail-DcShop-1.0.30"

  400-BadRequest-DcRes-1.0.33:
    description: "Bad Request"
    schema:
      $ref: "#/definitions/ErrorDetail-DcRes-1.0.33"

ErrorDetail-DcShop-1.0.30:
  type: object
  properties:
    code:
      type: integer
    message:
      type: string

ErrorDetail-DcRes-1.0.33:
  type: object
  properties:
    code:
      type: integer
    message:
      type: string
